.card-body {
  background-color: #fef9c3;
  border-radius: 12px;
  padding: 30px;
  width: 250px;
  height: 150px;
  border: 2px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   overflow: hidden; 
}

.task-title {
  font-size: 18px;
  color: #1f1f1f;
  font-weight: 500;
  overflow-wrap: break-word;
  
}

.task-complete{
  text-decoration: line-through;
}

.action-buttons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  font-size: 10px;
    margin-top: auto;
}


.action-btn {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  color: white; 
}


.check {
  background-color: #facc15; /
}
.edit {
  background-color: #3b82f6; 
}
.delete {
  background-color: #ef4444; 
}
.arrow {
  background-color: #111111; 
}

.action-btn:hover {
  transform: scale(1.1);
}
